body {
    text-align: center;
    background-color: antiquewhite
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
}

img {
    width: 20%;
    height: 200px;
}
